*{
    margin: 0 auto;
    padding: 0 auto;
}

header{
  width: 500px;
    height: 70px;
    background:  #5688b8;
    font-size: 10pt;
  
}

header h1{
 
  color: #FFFFFF;
  text-align: center;
  padding-top: 5px;
  font-weight: 100;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fon {
  text-align: center;
  
}

.sale{
  height: 100px;
  background-color: #5688b8 ;
  width: 500px;
  
  
}

.sale h1{
  font-size: 18pt;
  float: left;
  margin-left: 40px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 40px;
  margin-top: 25px;
  color: #FFFFFF;
}

.sale h2{
  font-size: 18pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-right: 40px;
  margin-top: 25px;
  float: right;
  color: #FFFFFF;
}


.details{
  background-color: #FFFFFF;
  height: 500px;
  width: 500px;
}

.details h1{
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: 15pt;
  margin-top: 30px;

}

.details p{
  color: black;
  font-size: 13pt;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 20px;

}

.video{
  height: 700px;
  background-color: #FFFFFF;
  width: 500px;
}

.video h1{
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin-top: 300px;
  height: 80px;
  font-size: 30pt;
}
