*{
    margin: 0 auto;
    padding: 0 auto;
}

header{
    height: 700px;
    background: #17191e;
}

header h1{
    color: #ffda00;
    font-size: 80pt;
    text-align: center;
    padding-top: 220px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header p{
    margin-top: 15px;
    margin-left: 400px;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*a_work*/

.a_work{
    width: 600px;
    height: 250px;
    background-color: #f5d729;
}

.a_work h1{
    padding-left: 30px;
    padding-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.a_work p{
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/*More*/

.more{
    height: 150px;
    background-color: #17191e;
}

.more{
    text-align: center;
    color: aliceblue;
    padding-top: 110px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.more h1 {
    padding-bottom: 5px;
    border-bottom: 3px solid #ffda00;
    width: 150px;
   }


/*blokp*/

.blokp{
    height: 100px;
    background-color: #ffffff;
}


/*layer*/
  
.layer{
    background: #17191e;
    margin-left: 130px;
  }
  
  
  .layer1{
    color: #ffffff;
    margin: 0px 0px 30px;
    padding: 60px 20px 30px;
    margin-left: 150px;
    float: left;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    background-color: #17191e;

    
  }
  
  .layer1 h1{
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  
  .layer1 p{
     margin-top: 15px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  }
  
  .layer2{
    color: #ffffff;
    margin: 0px 0px 30px;
    padding: 60px 20px 30px;
    margin-left: 120px;
    float: left;
    font-size: 14px;
    text-align: center;
    font-weight: normal;
    background-color: #17191e;
  }
  
  .layer2 h1{
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  
  .layer2 p{
     margin-top: 15px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  
  
  .layer4{
    color: aliceblue    ;
    margin: 0px 0px 30px;
    padding: 60px 20px 30px;
    margin-left: 120px;
    float: left;
    font-size: 14px;
    text-align: center;

    background: #17191e;
    font-weight: normal;
  }
  
  .layer4 h1{
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
  }
  
  .layer4 p{
     margin-top: 15px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .greated{
    background: #17191e;
    height: 340px;
  }



  /*register*/

* {box-sizing: border-box}

.container {
  width: 50%;
  padding: 16px;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.container h1{
  margin-right: 130px;
  margin-top: 50px;
}


input[type=text], input[type=password] {
  width: 100%;
  text-align: center;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.registerbtn {
  background-color: #ffda00;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  width: 50%;
  opacity: 0.9;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.registerbtn:hover {
  opacity:1;
}


a {
  color: #ffda00;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
  
}


/*footer*/

.footern{
  
  background-color: black;
  height: 200px ;
 
}

.footern h1{
  text-align: left;
  color: #f1f1f1;
  padding-top: 60px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 17pt;
  padding-left: 55px;
}

.footern h2{
  color: #f1f1f1;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: right;
  margin-right: 60px;
}

.footern img{
  width: 250px;
  height: 50px;
  margin-left: 50px  ;
}

